<html>
<head>
  <title>Jolly Interesting Files</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    #video, #gif {
      width: 100%;
    }
    .disabled {
      display: none;
      visibility: hidden;
    }
  </style>
</head>
<body>
  <video id="video" src="" loop></video>
  <img id="gif" src="" />
  <script src="/javascript/screenfull.js"></script>
  <script>
    // Elements to interact with
    var container = document.getElementById('container');
    var videoTag  = document.getElementById('video');
    var gifTag    = document.getElementById('gif');
    var activeTag = ""
    var orientation = "<%= orientation %>"
    if(orientation == "false") {
      orientatation = false
    }

    // Load a new image via AJAX
    function loadVideo() {
      var xmlhttp = new XMLHttpRequest();
      var fileType = "";

      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
         if (xmlhttp.status == 200) {
          response = JSON.parse(xmlhttp.responseText)
          video = response.video;
          fileType = response.fileType;
          updateVideoTag(video, fileType);
         }
         else if (xmlhttp.status == 400) {
           console.log('There was an error 400');
         }
         else {
           console.log('something else other than 200 was returned');
         }
        }
      };
      if(orientation) {
        xmlhttp.open("GET", "/newimage/" + orientation, true);
      }
      else {
        xmlhttp.open("GET", "/newimage", true);
      }
      xmlhttp.send();
    }

    // Get the correct tag for this video
    function updateVideoTag(file, fileType) {
      if(fileType == ".gif") {
        videoTag.classList.add('disabled');
        gifTag.classList.remove('disabled');
        gifTag.setAttribute("src", "/videos" + file);
        activeTag = gifTag;
      } else if(fileType == ".mp4") {
        gifTag.classList.add('disabled');
        videoTag.classList.remove('disabled');
        videoTag.setAttribute("src", "/videos" + file);
        videoTag.play();
        activeTag = videoTag;
      } else {
        return false;
      }
    }

    // On load
    updateVideoTag("<%= file %>", "<%= fileType %>");
    if("<%= fileType %>" == ".mp4") {
      videoTag.play();
    }

    // Add a listener to each tag.
    // Fullscreen request has to be here + duplicated for Reasons.
    gifTag.addEventListener('click', function() {
      loadVideo();
      if (screenfull.enabled) {
        screenfull.request(container);
      }
    });

    videoTag.addEventListener('click', function() {
      loadVideo();
      if (screenfull.enabled) {
        screenfull.request(container);
      }
    });
  </script>
</body>
</html>
