<html>
<head>
  <title>JIF Gallery Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>JIF Gallery Server</h1>
  <p><a href='./image'>Request an image</a></p>
  <p><a href='./image?o=landscape'>Request a landscape image</a></p>
  <p><a href='./image?o=portrait'>Request a portrait image</a></p>
  <p><a href='./image.json'>Request JSON info for an image</a></p>
  <p><a href='./reload'>Reload images and see currently loaded videos</a></p>
</body>
</html>
